@import "../../assets/style/style"
@import "../../assets/style/variables"
.navbar
    width: 100%
    box-sizing: border-box
    padding: 5px 20px
    @extend .flex-row
    user-select: none
    align-items: center

.logo
    font-family: $secondary-font
    font-size: 2.4em
    color: $primary-color
    cursor: pointer

.nav-item-wrapper
    @extend .flex-row
    align-items: center

.nav-item
    margin-left: 30px
    font-size: 1.2em
    color: $primary-color
    cursor: pointer
    transition-duration: 200ms

.nav-item:hover
    text-shadow: 0 0 4px rgba(107, 88, 228, 0.33)